<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="fontawesome-free-5.15.4-web/css/all.min.css">
    <link rel="stylesheet" href="css/home.css">
</head>

<body>

    <div class="container">
        <div class="row mt-5">
            <div class="col-12 col-sm-7 col-md-5 offset-3">
                <div class="card border-primary">
                    <div class="card-header bg-primary">
                        <h4 class="text-center text-white">Đổi Mật Khẩu</h4>
                    </div>
                    <div class="card-body mx-4">
                        <form action="" method="POST" ng-submit="onSubmitForm($event,student.id)">
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                                    <div class="form-group mt-3">
                                        <label for="username">Tên Đăng Nhập: </label>
                                        <input type="text" ng-model="student.username" name="username" id="username" class="form-control mt-2">
                                        <small>Vui Lòng Nhập Tên Đăng Nhập</small>
                                    </div>
                                    <div class="form-group mt-3">
                                        <label for="password">Mật Khẩu Cũ: </label>
                                        <input type="password" ng-model="oldPassword" name="oldPassword" id="oldPassword" class="form-control mt-2">
                                        <small>Vui Lòng Nhập Mật Khẩu</small>
                                    </div>
                                    
                                </div>
                                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                                    <div class="form-group mt-3">
                                        <label for="password">Mật Khẩu Mới: </label>
                                        <input type="password" ng-model="stu.newPassword" name="newPassword" id="newPassword" class="form-control mt-2">
                                        <small>Vui Lòng Nhập Mật Khẩu Mới</small>
                                    </div>
                                    <div class="form-group mt-3">
                                        <label for="password">Nhập Lại Mật Khẩu Mới: </label>
                                        <input type="password" ng-model="reNewPassword" name="reNewPassword" id="reNewPassword" class="form-control mt-2">
                                        <small>Vui Lòng Nhập Lại Mật Khẩu Mới</small>
                                    </div>
                                </div>
                            </div>
                            <div class="row my-4 mx-1">
                                <button type="button" ng-click="change()" class="btn btn-success">
                                    Đổi Mật Khẩu
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.min.js"></script>
</body>

</html>