<style>
    body {
        background-image: url(images/H4tz.gif);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
</style>
<section>
    <div class="container">
        <div class="row  mt-4">
            <div class="col-sm-4 offset-4">
                <div class="card h-100">
                    <div class="card-header bg-primary text-center">
                        <h4 class="text-white">Quên Mật Khẩu</h4>
                    </div>
                    <div class="card-body">
                        <form name="formGet">
                            <div class="form-group mt-3">
                                <label for="username">Tên Đăng Nhập: </label>
                                <input type="text" ng-model="username" name="username" id="username" class="form-control" required>
                                <small ng-show="formGet.username.$invalid">Vui lòng nhập tên đăng nhập</small>
                            </div>
                            <div class="form-group mt-3">
                                <label for="email">Email: </label>
                                <input type="email" ng-model="email" name="email" id="email" class="form-control" required>
                                <small ng-show="formGet.email.$error.required">Vui lòng nhập email</small>
                                <small ng-show="formGet.email.$error.email">Sai định dạng Email</small>
                            </div>
                            <div class="form-group mt-4">
                                <button ng-click="getPass()" ng-disabled="formGet.$invalid" class="btn btn-success">Quên Mật Khẩu</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>