<style>
    .loading {
        background: rgba(0, 0, 0, .5);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
    }

    .spinner-center {
        top: 50%;
        left: 50%;
        position: absolute;
    }
</style>

<div class="container">
    <div class="row mt-5">
        <div class="col-12 col-sm-7 col-md-5 offset-3">
            <div class="card">
                <div class="card-header bg-primary">
                    <h4 class="text-center text-white">Cập Nhật Thông Tin</h4>
                </div>
                <div ng-show="isLoading" class="loading">
                    <div class="spinner-border text-primary spinner-center" role="status">
                    </div>
                </div>
                <div class="card-body mx-4">
                    
                    <form action="" name="myForms" method="POST" ng-submit="onSubmitForm($event,student.id)">
                        <div class="form-group">
                            <label for="username">Tài Khoản</label>
                            <input type="text" ng-model="student.username" class="form-control" name="username"
                                id="username" disabled required minlength="6" />
                            <small ng-show="myForms.username.$error.required" class="form-text text-danger">Vui Lòng
                                Nhập Tên Tài Khoản</small>
                            <small ng-show="myForms.username.$error.minlength" class="form-text text-danger">Tên Tài
                                Khoản Phải Hơn 6 Ký Tự</small>
                        </div>
                        <div class="form-group">
                            <label for="password">Mật Khẩu</label>
                            <input minlength="6" type="password" ng-model="student.password" class="form-control"
                                name="password" id="password" required />
                            <small ng-show="myForms.password.$error.required" class="form-text text-danger">Vui lòng
                                nhập mật khẩu</small>
                            <small ng-show="myForms.password.$error.minlength" class="form-text text-danger">Mật
                                Khẩu Lơn Hơn 6 Ký Tự</small>
                        </div>
                        <div class="form-group">
                            <label for="fullname">Họ và Tên</label>
                            <input type="text" ng-model="student.fullname" class="form-control" name="fullname"
                                id="fullname" minlength="5" required />
                            <small ng-show="myForms.fullname.$error.required" class="form-text text-danger">
                                Vui lòng nhập họ và tên</small>
                            <small ng-show="myForms.fullname.$error.minlength" class="form-text text-danger">
                                Vui lòng nhập dưới 5 ký tự</small>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" ng-model="student.email" class="form-control" name="email" id="email"
                                required />
                            <div ng-show="myForms.email.$invalid">
                                <small ng-show="myForms.email.$error.require" class="form-text text-danger">Vui Lòng
                                    Nhập Email</small>
                                <small ng-show="myForms.email.$error.email" class="form-text text-danger">Email không
                                    đúng định dạng</small>
                            </div>
                        </div>
                        <div class="form-group my-2">
                            <label for="">Giới Tính: </label>
                            <input ng-model="student.gender" class="form-check-input" type="radio"
                                name="flexRadioDefault" id="flexRadioDefault1" value="true" />
                            <label class="form-check-label" for="flexRadioDefault1">
                                Nam
                            </label>
                            <input ng-model="student.gender" class="form-check-input" type="radio"
                                name="flexRadioDefault" id="flexRadioDefault2" value="false" />
                            <label class="form-check-label" for="flexRadioDefault2">
                                Nữ
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="birthday">Ngày Sinh:(yyyy-mm-dd)</label>
                            <input type="text" ng-model="student.birthday" class="form-control" name="birthday"
                                id="birthday" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" required />
                            <small ng-show="myForms.birthday.$error.required" class="form-text text-danger">Vui lòng
                                nhập ngày sinh</small>
                                <small ng-show="myForms.birthday.$error.pattern" class="form-text text-danger">Không đúng định dạng ngày sinh</small>
                        </div>
                        <div class="form-group">
                            <label for="schoolfee">Học Phí</label>
                            <input type="number" ng-model="student.schoolfee" class="form-control" name="schoolfee"
                                id="schoolfee" required min="2000000" />
                            <small ng-show="myForms.schoolfee.$error.required" class="form-text text-danger">
                                Vui lòng nhập học phí
                            </small>
                            <small ng-show="myForms.schoolfee.$error.min" class="form-text text-danger">
                                Học Phí Phải trên 2.000.000
                            </small>
                        </div>
                        <div class="form-group my-3">
                            <button class="btn btn-success" ng-disabled="myForms.$invalid" ng-click="onUpdate()">Cập
                                nhật</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>